USE [master]
GO
/****** Object:  Database [TormentaFinal]    Script Date: 25/8/2026 09:02:10 ******/
CREATE DATABASE [TormentaFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TormentaFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TormentaFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TormentaFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TormentaFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TormentaFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TormentaFinal]
GO
/****** Object:  User [alumno]    Script Date: 25/8/2026 09:02:10 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Jugador]    Script Date: 25/8/2026 09:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partida]    Script Date: 25/8/2026 09:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partida](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jugadorId] [int] NOT NULL,
	[salaActualId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuesta]    Script Date: 25/8/2026 09:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuesta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partidaId] [int] NOT NULL,
	[salaId] [int] NOT NULL,
	[numeroIntento] [int] NOT NULL,
	[respuestaIngresada] [varchar](200) NOT NULL,
	[esCorrecto] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 25/8/2026 09:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD FOREIGN KEY([jugadorId])
REFERENCES [dbo].[Jugador] ([id])
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD FOREIGN KEY([salaActualId])
REFERENCES [dbo].[Sala] ([id])
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD FOREIGN KEY([partidaId])
REFERENCES [dbo].[Partida] ([id])
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD FOREIGN KEY([salaId])
REFERENCES [dbo].[Sala] ([id])
GO
USE [master]
GO
USE TormentaFinal;

INSERT INTO Sala (numero, nombre, descripcion) VALUES
(1, 'La Galaxia de Aura', 'Galaxy y La Aura dejaron un código escondido entre las estrellas. Encontralo para avanzar.'),
(2, 'El Toque Dorado', 'Midas convirtió todo en oro. La Renegada dejó una trampa. Tocá el botón dorado 3 veces para escapar.'),
(3, 'Aliados Perdidos', 'Jonesy y el Bananoide están mezclados entre impostores. Encontrá a tus aliados para continuar.'),
(4, 'El Bus de Batalla', 'La tormenta se cierra. Sos el último en el bus. Usá lo que siempre usaste para saltar...');